@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <a class="btn btn-primary mx-2 d-block mb-2" href="/Products">Products</a>
        <a class="btn btn-primary mx-2 d-block" href="/Licenses">Licenses</a>
    </div>
</div>