@{
    ViewData["Title"] = "About";
}

<main class="px-3">
    <h1>Cryptlex Licensing Application</h1>
    <p class="lead">
        Radinium technical interview project for interacting with the Cryptlex API for managing products and licenses.
    </p>
</main>