@model List<LicenseRequestModel>
@{
    ViewData["Title"] = "Licenses";
}

<h1>Licenses</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">OS</th>
            <th scope="col">OS Version</th>
            <th scope="col">Fingerprint</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var license in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@license.Os</td>
                <td>@license.OsVersion</td>
                <td>@license.Fingerprint</td>
            </tr>
        }
    </tbody>
</table>
